@font-face {
    font-family: vazir;
    src: url("../fonts/Vazir.ttf");
}
:root{
    --color-primary : #c5e3ff;
    --color-secondary :  #54515161;
    --color-mylight-gray: rgba(137, 131, 131, 0.468);

    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
    list-style: none;
    text-decoration: none !important;
}

.nav-green{
    background: #F4F9FD;
    
}
.f-nav-icon-li{
    background: rgb(222,245,238);
}
.nav-icon-2{
    color: #5CCE67;

}
.dropdown:hover .dropdown-menu{
    display: block;
}
.nav-link:hover, .nav-link:focus{
    color: #5CCE67 !important;
}

.dropdown-menu{
    position: relative;
    left: 0px !important;
    top: 40px;
    border: none !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: #5CCE67 solid 3px !important;

}
.dropdown-item:hover{
    color: #5CCE67 !important;
    background: white !important;
}

.service-card{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 18rem !important;
    height: 10rem;
    padding: 20px 10px;
}
.service-card img{
    width: 18%;
    padding: 5px;
    border: #F4F9FD solid 1.5px;
    border-radius: 90% 50% 65% 40%;
    
}
.service-card:hover{
    background-color: rgb(25,206,103);
    transition: all .3s ease-in-out;
    color: #fff;
}